# Common build directories
build*/

# Tutorial build directories
Step*_build/

# Tutorial install directories
Step*_install/

# Exclude MacOS Finder files.
.DS_Store

*.user*

*.pyc

Help/_generated
Testing
CMakeUserPresets.json

# Visual Studio work directory
.vs/
# Visual Studio build directory
out/

# Visual Studio Code
.vscode/

# CLion work directory
.idea/
# CLion build directories
cmake-build-*/
